<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <% if yield_content :metas %>
            <%= yield_content :metas %>
        <% else %>
            <title>HKMCOULTURE</title>
        <% end %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

        <%= stylesheet_link_tag "bootstrap"; %>
        <%= stylesheet_link_tag "themify-icons"; %>
        <%= stylesheet_link_tag "flexslider"; %>
        <%= stylesheet_link_tag "lightbox.min"; %>
        <%= stylesheet_link_tag "ytplayer"; %>
        <%= stylesheet_link_tag "theme-gunmetal"; %>
        <%= stylesheet_link_tag "custom"; %>
        
    </head>
    <body class="scroll-assist">
        <%= partial "layouts/partials/nav" %>

        <% content_for :metas do %>
            <title><%= current_page.data.title %> | <%= data.settings.main.site_name %></title>
        <% end %>


        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="post-snippet mb64">
                            <img class="mb24" id="zoom" alt="<%= current_page.data.title %>" src="<%= current_page.data.image %>">
                            <div class="post-title">
                                <h4 class="inline-block"><%= current_page.data.title %></h4>
                            </div>
                            <%= yield %>
                        </div>
                    </div>
                    <!--end of nine col-->
                </div>
                <!--end of container row-->
            </div>
            <!--end of container-->
        </section>


        <section>
            <div class="container">
                <div class="product-single">
                    <div class="row mb24 mb-xs-48">
                        <div class="col-md-5 col-sm-6">
                            <img class="cast-shadow" alt="<%= current_page.data.title %>" src="<%= current_page.data.image %>>
                            <!--end of image slider-->
                        </div>
                        <div class="col-md-5 col-md-offset-1 col-sm-6">
                            <div class="description">
                                <h4 class="uppercase"><%= current_page.data.title %></h4>
                                <hr class="mb48 mb-xs-24">
                                <%= yield %>
                        </div>
                    </div>
                </div>
                <!--end of product single-->
            </div>
            <!--end of container-->
        </section>



        <%= partial "layouts/partials/footer" %>
        
        <%= javascript_include_tag "site" %>

        <script>
            $(document).ready(function(){
            $('img#zoom')
                .wrap('<span style="display:inline-block"></span>')
                .css('display', 'block')
                .parent()
                .zoom();
            });
        </script>

    </body>