<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <% if yield_content :metas %>
            <%= yield_content :metas %>
        <% else %>
            <title>HKMCOULTURE</title>
        <% end %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

        <%= stylesheet_link_tag "bootstrap"; %>
        <%= stylesheet_link_tag "themify-icons"; %>
        <%= stylesheet_link_tag "flexslider"; %>
        <%= stylesheet_link_tag "lightbox.min"; %>
        <%= stylesheet_link_tag "ytplayer"; %>
        <%= stylesheet_link_tag "theme-gunmetal"; %>
        <%= stylesheet_link_tag "custom"; %>
        
    </head>
    <body class="scroll-assist">
        <%= partial "layouts/partials/nav" %>

        <% content_for :metas do %>
            <title><%= current_page.data.title %> | <%= data.settings.main.site_name %></title>
        <% end %>


        <section class="image-edge">
            <div class="col-md-6 col-sm-4 p0">
                <img id="zoom" alt="<%= current_page.data.title %>" src="<%= current_page.data.image %>" />
            </div>
            <div class="container">
                <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
                    <h3><%= current_page.data.title %></h3>
                        
                    <%= yield %>
                </div>
            </div>
            <!--end of container-->
        </section>



        <%= partial "layouts/partials/footer" %>
        
        <%= javascript_include_tag "site" %>

        <script>
            $('#zoom').zoom();
        </script>

    </body>