---
title: About
description: 
---


<% content_for :metas do %>
    <title><%= data.pages.about.title %> | <%= data.settings.main.site_name %></title>
    <meta name="description" content=<%= data.pages.about.description %> />
<% end %>

<section class="pt-0">
    
        <div class="row">
            <img class="mb24" alt="<%= data.pages.about.title %>" src="<%= data.pages.about.header %>">
            <div class="container mt24">
                <div class="col-sm-6">
                    <div class="post-snippet mb64">
                        
                        <div class="post-title">
                            <h4 class="inline-block"><%= data.pages.about.title %></h4>
                        </div>
                        <%= markdown data.pages.about.content %>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="post-snippet mb64">
                        <img class="mb24" alt="<%= data.pages.about.title %>" src="<%= data.pages.about.image %>">
                    </div>
                </div>
            </div>

            <!--end of nine col-->
        </div>
        <!--end of container row-->
   
</section>
