---
title: About
description: 
---


<% content_for :metas do %>
    <title><%= data.pages.about.title %> | <%= data.settings.main.site_name %></title>
    <meta name="description" content=<%= data.pages.about.description %> />
<% end %>




<section class="pt100 pb100 pt-xs-80 pb-xs-80">
  <div class="container">
    <div class="row">
      <div class="row mb80 mb-xs-24">
          <div class="col-sm-12 text-center">
              <img alt="Image" src="<%= data.pages.about.image %>">
          </div>
      </div>

      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <%= markdown data.pages.about.content %>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>