---
title: About
description: 
---


<% content_for :metas do %>
    <title><%= data.pages.about.title %> | <%= data.settings.main.site_name %></title>
    <meta name="description" content=<%= data.pages.about.description %> />
<% end %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="post-snippet mb64">
                    <img class="mb24" alt="<%= data.pages.about.title %>" src="<%= data.pages.about.image %>">
                    <div class="post-title">
                        <h4 class="inline-block"><%= data.pages.about.title %></h4>
                    </div>
                    <%= markdown data.pages.about.content %>
                </div>
            </div>
            <!--end of nine col-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>