---
title: 
---

<% content_for :metas do %>
    <title><%= data.settings.main.site_name %> | <%= data.settings.main.subtitle %> </title>
    <meta name="description" content=<%= data.pages.home.description %> />
<% end %>

<%= partial "layouts/partials/slider" %>

<div class="containr">
    <div class="row">
        <div class="col-md-6 col-sm-6 p0">
            <div class="image-tile inner-title hover-reveal text-center mb0">
                <a href="/collection">
                <%= image_tag("/img/left.gif", alt: "img") %>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 p0">
            <div class="image-tile inner-title hover-reveal text-center mb0">
                <a href="/collection">
                <%= image_tag("/img/right.gif", alt: "img") %>
                </a>
            </div>
        </div>
    </div>
    <!--end of row-->
</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h4 class="uppercase mb16">#hyomaofficial</h4>
            </div>
        </div>
        <div class="row mb32 mb-xs-32">
            <div id="instafeed"></div>
        </div>
    </div>
</section>


<% content_for :scripts do %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
    <script>
        var userFeed = new Instafeed({
        get: 'user',
        userId: '7572944716',
        clientId: 'a34d5c4ab2fd47bb9faa2612ee086abc',
        accessToken: '7572944716.1677ed0.5e48bd3268e141a3b66ee679aece4314',
        resolution: 'standard_resolution',
        template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /></a>',
        sortBy: 'most-recent',
        limit: 4,
        links: false
        });
        userFeed.run();
    </script>
<% end %>