---
title: Home
---

<% content_for :metas do %>
    <title><%= data.pages.home.title %> | <%= data.settings.main.site_name %></title>
    <meta name="description" content=<%= data.pages.home.description %> />
<% end %>

<%= partial "layouts/partials/slider" %>

<section class="pt40 pb0">
    <div class="container">
        <div class="row">
            <% blog('products').articles.first(2).each do |prod| %>
                <div class="col-sm-6">
                    <div class="image-tile inner-title title-center text-center">
                        <a href="<%= prod.url.chomp('index.html').chomp('.html').chomp('/') %>">
                            <%= image_tag(prod.data.image || "/img/shop.jpg", alt: prod.data.title) %>
                            <div class="title">
                                <h4 class="uppercase mb0"><%= prod.title %></h4>
                            </div>
                        </a>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>